<div class="container">
  <% if @art.errors.any? %>
    <% @art.errors.full_messages.each do |msg| %>
          <h3><%= msg %></h3>
    <% end %>
  <% end %>

  <%= form_for :art, url: {:action=>"create", :controller=>"art"} do |f| %>
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    <%= f.text_area :text, class:"form-control", id:"art_input"%>
    <%= f.hidden_field :rating, value: 0 %>
    <%= f.submit %>
  <% end %>

  <pre id="preview">
  </pre>
</div>
