<div class="container">
  <h1> <%= @art.title %> </h1>
  <pre> <%= @art.text %> </pre>
  <div class="jumbotron">
    <h3> rating: <%= @art.rating %> </h3>
  </div>
</div>

<div class="container">
  <%= form_for :art, method: :patch, url: vote_up_art_path do |f| %>
    <div> <%= f.submit "Vote Up", class: "btn btn-primary btn-sm"%> </div>
  <% end %>

  <%= form_for :art, method: :patch, url: vote_down_art_path do |f| %>
    <div> <%= f.submit "Vote Down", class: "btn btn-primary btn-sm" %></div>
  <% end %>

  <h2>Comments</h2>
  <% if current_user %>
      <%= form_for([@art, @art.comments.build]) do |f| %>
        <%= f.text_area :body %>
        <%= f.submit %>
      <% end %>
  <% else %>
    <h4> You Must Be logged in to comment </h4>
  <% end %>

  <% @art.comments.each do |comment| %>
    <h4><%= comment.user_name %></h4>
    <p><%= comment.body %></p>
  <% end %>
</div>
